{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="width: auto;">
                <div class="card-body center">
                    <h5 class="card-title">Czy na pewno?</h5>
                        <form method="post">
                            <button type="submit" class="btn btn-primary btn-block">Potwierdz!</button>
                        </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}